<div class="container; height = auto">
  <h1> CryptoTracker </h1>
  <table class="table table-light">
    <thead>
    <tr>
      <th *ngFor="let title of titles">
        {{title}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let coin of coins; let i = index">
      <td>
        {{i + 1}}
      </td>
      <td>
        <img [src]="coin.image" alt="{{coin.name}}" style="width: 2rem;">
        <span>
                        {{coin.name}}
                    </span>
      </td>
      <td>
                    <span>
                        {{coin.symbol}}
                    </span>
      </td>
      <td>
                    <span>
                        {{"$ " + coin.market_cap.toLocaleString()}}
                    </span>
      </td>
      <td>
        {{"$ " + coin.current_price.toLocaleString()}}
      </td>
      <td>
        {{"$ " + coin.total_volume.toLocaleString()}}
      </td>
      <td [ngClass]="coin.price_change_percentage_24h > 0 ? 'text-success' : 'text-danger' ">
        {{coin.price_change_percentage_24h + " %"}}
      </td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
