.dialog-header {
  display: flex;
  justify-content: flex-end;
  color: black;
  font-size: large;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: black;
}

.content-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5em 1.5em;
}

.mat-button {
  background-color: grey;
  color: white;
  padding-left: 1em;
  margin: 0.5em;
}

.intervals{
  padding-right: 17em;
  display: flex;
  justify-content: space-between;
}

.mat-button:hover {
  background-color: #505050;
  color: white;
  padding-left: 1em;
  margin: 0.5em;
}

.mat-button:active {
  background-color: green;
  color: white;
  padding-left: 1em;
  margin: 0.5em;
}

.dialog-title{
  color: black;
  font-weight:bold;
}
